spring:
  config:
    activate:
      on-profile: dev

  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

  datasource:
    url: jdbc:h2:mem:testdb;MODE=MySQL
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        # show_sql: true
        format_sql: true
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 100MB

  h2:
    console:
      enabled: true
      settings:
        web-allow-others: true
      path: /h2-console
  jackson:
    default-property-inclusion: non_null # null 인경우 필드 생성하지않음


#포트 변수
env:
  port: 3000
