{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends": ["airbnb", "react-app", "plugin:prettier/recommended"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error", { "singleQuote": true, "parser": "flow", "endOfLine": "auto" }],
    "no-console": "off",
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "linebreak-style": 0,
    "import/no-unresolved": 0,
    "react/button-has-type": 0,
    "react/jsx-props-no-spreading": 0,
    "import/no-extraneous-dependencies": 0,
    "default-param-last": 0,
    "react/forbid-prop-types": 0,
    "camelcase": 0,
    "no-shadow": 0,
    "no-param-reassign": [2, { "props": false }],
    "no-debugger": 0
  }
}
